# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# ML Model Files
# =========================
*.pt
*.pth
*.h5
*.ckpt
*.onnx

# =========================
# Jupyter Notebook Checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Uploaded Files
# =========================
uploads/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/